.DS_Store
.vscode
.vs
cc3k
character.d
character.o
enemy.d
enemy.o
floor.d
floor.o
gold.d
gold.o
item.d
item.o
main.d
main.o
player.d
player.o
potion.d
potion.o
x64
Project1.sln
Project1.vcxproj
Project1.vcxproj.filters
Project1.vcxproj.user
enc_temp_folder
main1.o
